# Eclipse
/.classpath
/.project
/.settings
/dependency-reduced-pom.xml

# vs code
/.vscode

# NetBeans
/nbproject

# we use maven!
/build.xml

# Maven
/target

# vim
.*.sw[a-p]

# Various other potential build files
/build
/bin
/dist
/manifest.mf

/world

# Mac filesystem dust
*.DS_Store

# IntelliJ
*.iml
*.ipr
*.iws
.idea/